<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Scala Bench</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwC01b2bDyvTKXmUz6+idHGk3Yxk587ZO2nh60XC2n1a7WAcS85mTRvg5RQNyamVe64/4Rax4lqF3RWi+Ga5+FNQ==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress></emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$ojV3iD99Ij1t0jNpOcqP9eOLFiU5lMRkL1LYZRNGz0kcmQmMt043.</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwdG1o+zxa/aLyIbLBjmcapdVqcxFfi4kWR43c7Uhx+v1J1Il09jwLiD6ABJHwiEWitG1L1RIscUQr89tYzpWyYNgqNAuNoCnm67q95r5nStB6iAqbAdXGpVDk2NbChX4Lul48zK9jJppMFiTCZw8/mReVP1K0ptqPMoUcNzq51Js/zIvew/PdaRJ4LB/uo6x7UDiG88oLPDVXODOSTpwIIDOZHsFM4+0viq3nJ3UUXkvQ2KaL7N86f30ZDNblKzu4JxmS009XO6o5rDOylT9T5q0bgo8I6a1qXvobZtqGrlKC3h3WlP702ImsV7jAyZBkjV4rFPMLt6MprzepV4yn adriaan.moors@typesafe.com</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1518100651084</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>