<?xml version='1.0' encoding='UTF-8'?>
<project>
<%= githubProject(
  repoUser:    @user,
  repoName:    "scala-dist",
  repoRef:     @branch,
  description: "<H1>Run as part of the #{job("release/main")} flow.</H1>" +
   %{<p>It downloads the archives for a Scala release
       from http://downloads.lightbend.com/scala/$version/index.html and
       re-organizes them into the right hierarchy for scala-lang.org/files/archive.</p>
    <p>Also expands api docs for library, reflect, compiler and other modules
       to http://www.scala-lang.org/api/2.11.x/$module (it expands under api/$version).</p>
    <p>When version ends in -nightly, the root for the expansion process
       is http://www.scala-lang.org/files/archive/nightly/2.11.x/
       instead of http://www.scala-lang.org/files/archive/</p>
   }.gsub(/^ {4}/, ''),
  nodeRestriction: "linux && publish",
  concurrent: false,
  params: [
    {:name => "version", :desc => "The version of scala that we should download the archives for (from http://downloads.lightbend.com/scala/$version/index.html); e.g., 2.10.3-RC2"}
  ])
%>
</project>
