[req]
default_bits = 2048
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = US

stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = CA

localityName = Locality Name (eg, city)
localityName_default = San Francisco

0.organizationName              	= Organization Name (eg, company)
0.organizationName_default      	= Typesafe, Inc.

commonName  = Common Name (eg, your name or your server\'s hostname)
commonName_default = scala-ci.typesafe.com
commonName_max	= 64

emailAddress = ssl-admin@lightbend.com

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment

