<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <description></description>
  <properties>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1517836315085</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10${{jenkins_internal_user_passwordHash}}</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwdG1o+zxa/aLyIbLBjmcapdVqcxFfi4kWR43c7Uhx+v1J1Il09jwLiD6ABJHwiEWitG1L1RIscUQr89tYzpWyYNgqNAuNoCnm67q95r5nStB6iAqbAdXGpVDk2NbChX4Lul48zK9jJppMFiTCZw8/mReVP1K0ptqPMoUcNzq51Js/zIvew/PdaRJ4LB/uo6x7UDiG88oLPDVXODOSTpwIIDOZHsFM4+0viq3nJ3UUXkvQ2KaL7N86f30ZDNblKzu4JxmS009XO6o5rDOylT9T5q0bgo8I6a1qXvobZtqGrlKC3h3WlP702ImsV7jAyZBkjV4rFPMLt6MprzepV4yn adriaan.moors@typesafe.com</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>