<?xml version='1.0' encoding='UTF-8'?>
<project>
<%= githubProject(
  repoUser:    "scala",
  repoName:    "scala-dist",
  repoRef:     "2.11.x",
  description: %{Run as part of the scala-release-2.11.x-dist flow. <p> Builds and uploads the windows-specific artifacts for a Scala
    release.<br>

    Specify a tag that exists on <a href="https://github.com/scala/scala-dist">scala/scala-dist</a>,<br> and that points to a
    version of scala-dist that&apos;s available in one of the repositories listed in repositories-scala-release (see
    scala/jenkins-scripts), and sit back.<p>

    NOTE: the sbt build derives the version to build from the tag, which must thus be of the shape vNN.NN.NN-suffix for
    version NN.NN.NN-suffix<p>

    NOTE2: multiple tags on the same commit will lead to havoc -- you&apos;ll have to create a new commit and tag it (or set
    sbtDistVersionOverride to -Dproject.version=$SCALA_VER)

    The downloads will be available at http://downloads.typesafe.com/scala/$ver/scala-$ver*
   }.gsub(/^ {4}/, ''),
  nodeRestriction: "windows",
  params: [
    {:name => "sbtDistTarget", :default => "s3-upload", :desc => "To upload to S3, use s3-upload. A dry run (everything but uploading to S3): s3Upload::mappings"},
    {:name => "sbtDistVersionOverride", :desc => "may be -Dproject.version=....  to override the version of the dist to build (only for testing, you should use tags for real releases!)"}
  ])
%>
  <builders><%= scriptBuildWindows %></builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/*.msi</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
</project>